html{
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
.logo{
  padding-left: 10px;
  height: 50px;
}
nav{
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 20px;
  align-items: center;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
.main{
  width: 1200px;
  display: block;
  text-align: center;
}
.mission{
  margin-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission .caption{
  background-color: black;
  text-align: center;
  display: block;
  width: 100%;
}
.featuredteas{
  width: 1000px
  display: flex;
}
.teas img{
  height: 200px;
  width: 300px;
}
.top{
  width: 100%;
  display: block;
}
.teas{
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  left: 100px;
}
.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.locations h2{
  text-align: center;
  display: block;
  padding: 45px 0px 15px 0px;
}
.downtown{
  background-color: black;
  width: 300px;

}
.east{
  background-color: black;
  width: 300px;

}
.oakdale{
  background-color: black;
  width: 300px;

}
.addresses{
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.addresses h3{
  font-weight: normal;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact{
  height: 200px;
}
.copyright{
  text-align: left;
  margin-left: 20px;
}
footer{
  display: flex;
}
